@media only screen and (min-width: 1024px)  {
    
    .title{
        font-size: 100px;
        text-shadow: #34342d 2px 6px 0px;
        font-weight: 400;

    }
    .window{
      width:548px;
      height: 180px;
      padding-top:10px ;
      border:5px;
      border-radius: 4px;
      box-shadow: #34342d 6px 6px 0px;
      margin-top: 30px;
    }
    .line{
        width: 550px;
        height: 2px;
    }
    .subtitle{
        font-size: 30px;
    }

     #icon{
        font-size: 2.3rem;
        margin-left: 4px;
     }

     .button{
        width: 150px;
        height: 50px;
        border: 5px;
        border-radius: 4px;
        box-shadow: #34342d 4px 4px 0px;
        margin-top: 50px;
     }


     .text-button{
        font-size: 30px;
     }



     .window-two{
        width:500px;
        height: 170px;
        padding-top:15px;
        border:5px;
        border-radius: 4px;
        box-shadow: #34342d 6px 6px 0px;
        margin-top: 20px;
        margin-bottom: 20px;
     }
     .line-two{
        width: 500px;
        height: 2px;
    }
    .Ask{
        font-size: 30px;
    }

    #icon-two{
        font-size: 2.3rem;
        margin-left: 4px;
    }
    .title-two{
        font-size: 100px;
        font-weight: 200;
        text-shadow: #34342d 2px 6px 0px;
    }

    .bnt{
        width: 245px;
        height: 35px;
        border-radius: 4px;
        font-size:15px ;
        box-shadow: #34342d 4px 4px 0px;
        margin: 10px;
    }
    #question-counter  {
        font-size: 15px;
    }

    .window-three{
        width:550px;
        height: 120px;
        padding-top:-15px;
        border:5px;
        border-radius: 4px;
        box-shadow: #34342d 6px 6px 0px;
        margin-top: 20px;
        margin-bottom: 20px;

    }


    .subtitle-two{
        padding-top: 10px;
        font-size: 30px;
    }

#icon-three{
    font-size: 2rem;


}

}


