* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #5AD05E;
}

.title {
    font-family: Anton;
    color:#F7F2E5;
    font-size: 40px;
    text-shadow: #34342d 1px 5px 0px;
    font-weight: 100;
    text-align: center;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #34342d;
}

.window {
    background-color: #F7F2E5;
    width: 150px;
    height: 75px;
    border: #34342d solid 0.7px;
    border-radius: 2px;
    box-shadow: #34342d 4px 4px 0px;
}

#icon {
    margin-left: 2px;
    font-size: 1.2rem;
    color: #34342d;
}

.line {
    background-color: #34342d;
    width: 150px;
    height: 0.5px;
}

.subtitle {
    color: #34342d;
    font-family: JetBrains Mono;
    font-size: 10.5px;
    font-weight: 600;
    text-align:center;
    padding: 5px;
}

.button {
    background-color: #F7F2E5;
    width: 50px;
    height: 20px;
    border: #34342d solid 1px;
    border-radius: 2px;
    box-shadow: #34342d 2px 2px 0px;
    padding: 3px;
    margin: 20px;
}

.button:hover {
    background-color: #EDBD2E;
    transition-duration: 0.5s;
    cursor: pointer;
}

.text-button {
    color: #34342d;
    font-family: JetBrains Mono;
    font-size: 10px;
    font-weight: 600;
    text-align: center;
}

.quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.title-two {
    font-family: Anton;
    color:#F7F2E5;
    font-size: 30px;
    text-shadow: #34342d 1px 5px 0px;
    font-weight: 100;
    text-align: center;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #34342d;
}

.window-two {
    background-color: #F7F2E5;
    width: 150px;
    height: 60px;
    border: #34342d solid 0.7px;
    border-radius: 2px;
    box-shadow: #34342d 2px 2px 0px;
}

#icon-two {
    margin-left: 2px;
    font-size: 1rem;
    color: #34342d;
}

.line-two {
    background-color: #34342d;
    width: 150px;
    height: 0.5px;
    margin-top: -2px;
}



.Ask {
    color: #34342d;
    font-family: JetBrains Mono;
    font-size: 10px;
    font-weight: 600;
    text-align: justify;
    padding: 5px;
}

.bnt {
    background-color: #F7F2E5;
    width: 67px;
    height: 15px;
    border: #34342d solid 0.7px;
    border-radius: 2px;
    box-shadow: 2px 2px;
    color: #34342d;
    font-family: JetBrains Mono;
    font-size: 8px;
    font-weight: 600;
    text-align: center;
    padding: 2px;
    margin: 5px;
}

.bnt:hover {
    background-color: #EDBD2E;
    transition-duration: 0.5s;
}

.options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 12px;
}

.questions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

.window-three {
    background-color: #F7F2E5;
    width: 150px;
    height: 50px;
    border: #34342d solid 0.7px;
    border-radius: 2px;
    box-shadow: #34342d 4px 4px 0px;
    padding-top: -5px;
}

.subtitle-two {
    text-align: center;
    font-family: JetBrains Mono;
    font-size: 15px;
    font-weight: 600;
    color: #34342d;
}

#icon-three {
    font-size: 1rem;
    color: #34342d;
    margin-left: 2px;
}

#question-counter {
    text-align: center;
    font-family: JetBrains Mono;
    color: #34342d;
    font-size: 8px;
    margin-top: -5px;
}

.popup-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.popup {
    background-color: #F7F2E5;
    padding: 30px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.popup-text {
    font-family: JetBrains Mono;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
}

.popup-btn {
    background-color: #F7F2E5;
    padding: 5px 15px;
    border: #34342d solid 1px;
    border-radius: 2px;
    box-shadow: 2px 2px;
    color: #34342d;
    font-family: JetBrains Mono;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}

.popup-btn:hover {
    background-color: #EDBD2E;
    transition-duration: 0.5s;
}


.container-quiz {
    /* display: none; */
}

.container-questions {
    display: none;
}

.container-questions__second {
    display: none;
}

.container-questions__third {
    display: none;
}

.container-questions__fourth {
    display: none;
}

.container-questions__fifth {
    display: none;
}

.container-questions__seventh {
    display: none;
}

.container-questions__eighth{
    display:none;
}

.container-questions__nineth {
    display:none;
}

.container-questions__tenth {
    display: none;
}

.container-questions__eleventh {
    display: none;
}

.end-screen {
    display: none;
}
